<div class="col-md-6 offset-md-3">
    <h3>Change Password</h3>


    <form #changepass="ngForm" (ngSubmit)="changePasswordHandler(changepass.value)">


        <div class="form-group"> <label>Old Password </label>
            <input type="password" required #oldpassword="ngModel" class="form-control" name="oldpassword" ngModel>
            <span *ngIf="oldpassword.invalid && oldpassword.touched" style="color: red;">Please enter old password</span><br>
        </div>

        <div class="form-group"> <label>New Password : </label>
            <input type="password" required #newpassword="ngModel" class="form-control" name="newpassword" ngModel>
            <span *ngIf="newpassword.invalid && newpassword.touched" style="color: red;">Please enter new passoword</span><br>
        </div>

        <button class="btn btn-primary" [disabled]="changepass.invalid">Change Password</button>
    </form>

</div>