footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:orangered;
    color: white;
    text-align: center;
  }

  /* .container { display: grid; grid-template-columns: 220px 1fr 220px; grid-template-rows: auto 1fr auto; grid-gap: 12px; grid-template-areas: "header header header" "nav content side" "footer footer footer"; height: 100vh; } */